</div>
<script src="index.js" charset="utf-8"></script>
<div class="footer">
  <div class="footer-links">
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/contact">CONTACT</a>
  </div>
  <div class="socials-link">
    <a href="#"><img src="images/twitter.png" alt=""></a>
    <a href="#"><img src="images/facebook.png" alt=""></a>
  </div>
  <div class="p">
    <p>Copyright (c) 2021 Copyright Holder All Rights Reserved.</p>
    <p>Made with ❤️ by The God-father</p>
  </div>
</div>
</body>
</html>
