<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Raconteur</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>
      <nav>
          <div class="navbar-header">
            <div class="navbar-brand">
              <img src="images/logo.jpg" alt="">
            </div>
          </div>
          <ul class="">
            <li id="home">
              <a href="/">Home</a>
            </li>
            <li id="about">
              <a href="/about">About</a>
            </li>
            <li id="contact">
              <a href="/contact">Contact</a>
            </li>
            <li id="dropdown">
              <button class="dropbtn"type="button" name="button">
                Categories
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <p>Living</p>
                <p>wellness</p>
                <p>Lifestyle</p>
              </div>
            </li>
          </ul>

      </nav>
    </header>
    <body>
      <div class="">
