<%- include('partials/header')-%>


<div class="about-container">
  <h2 class="about-p">ABOUT ME</h2>
  <p class="about-p">Hi there,</p>
  <p class="about-p">My name is Folasade, I am a daughter, a sister, a friend and a lover.
    My friends call me Sade, feel free. I am a book and movie nerd,
    an adventurer within the walls of my room, an army and an anime fan.
    I have an overactive imagination which led me to writing.
    I wanted (maybe needed) a platform where I can unabashedly be myself so here we are.
    If you love music, nature, entertainment and life, you will feel right at home here.</p>
  <p class="about-p">Raconteur means storyteller and that is what I love doing the most,
    probably because my life is full of great and embarrassing ones.
    I am full of curiosity and love to share cool things I know and discover along the way.
    Here at my blog, it’s all about optimism and uplifting people,
    tips and tricks as well as inspiring every Gen Z (maybe a Millennial and Gen Alpha or two) out there to reach their full potential while maintaining happiness.
  </p>
  <p class="about-p">The beautiful part of things is that,
    I don’t have it all figured out, no one does.
    I’m not just speaking/writing as a spectator,
    I’m on the journey too, and I know it’s going to be a grand journey,
    a royal tour if I do say so myself.
  </p>
  <p class="about-p">I would be posting weekly, sometimes twice a week,
    so let’s connect and inspire each other,
    subscribe to my newsletter so you are the first to know when I post and for my free eBooks and challenges.
    You can follow me on Instagram and on Twitter @rheelshadie.
    Thank you for been here, I look forward to connecting with you.
  </p>

  <p class="about-p">With loads of Love,</p>
  <p class="about-p">Folasade.</p>

</div>
<%- include('partials/footer')-%>
