<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Rancouter</title>
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    <section id="form">
      <div class="logo">
        <img src="images/logo.jpg" alt="image logo">
      </div>
      <div class="container">
        <h1>LOGIN</h1>
        <form class="login-css" action="/login" method="post">
          <div class="input-form">
            <label for="">Email</label>
            <input type="email" name="username" value="">
          </div>
          <div class="input-form">
            <label for="">Password</label>
            <input type="password" name="password" value="">
          </div>
          <button class="btn" type="submit" name="button">Login</button>
        </form>
      </div>
    </section>
  </body>
</html>
