html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  font-family: sans-serif;
  color: white;
}
nav {
  display: flex;
  background: #BA7894;
  padding: 1%;
  width: 100%;
}
ul {
  list-style: none;
  display: flex;
}
li a {
  margin-left: 30px;
  color: black;
}
a {
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
  font-size: 20px;
  transition: 0.3s;
}
main {
  background: #fff;
  color: black;
  padding: 1%;
}
header {
  display: flex;
  background: #FDE1FA;
  align-items: center;
}
.navbar-header{
  margin-right: 880px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.navbar-brand img {
  width: 60px;
}
.header-content {
  color: #785b77;
  margin-left: 15px;
}
.h1-2nd-style {
  font-size: 45px;
}
.header-content p {
  width: 450px;
  font-size: 18px;
}
.header-images {
  padding-left: 10%;
}
/* this is for each blog post */
.container {
  border: 3px solid #98c2c0;
  padding: .5%;
  margin: 20px 0;
  color: #785b77;
}
.btn {
  background: #98c2c0;
  color: #785b77;
  padding: 1%;
  border: none;
}
/* this is the newsletter */
.Subscribe {
  background: #98c2c0;
  color: white;
  padding: 1%;
  text-align: center;
}
.input {
  border: solid white 1px;
  border-radius: 6px;
  padding: 0.5%;
  width: 400px;
}
.btn-sub {
  background: #98c2c0;
  color: #785b77;
  padding: 1%;
  border: 1px solid #785b77;
  border-radius: 5px;
  align-items: center;
}
/* footer section css */
.footer {
	text-align: center;
	bottom: 0;
	background: #BA7894;
  padding: 3% 1% 1%;
}
.footer-links a {
  color: #98c2c0;
  margin: 0 30px 40px;
}
.p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.socials-link img {
  width: 50px;
}
/* This is the style for the compose page */
label {
  color: black;
  margin: 20px 0 10px;
}
.compose-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.input-form {
  width: 500px;
}
.btn {

}
.btn-form {
  margin: 10px;
  width: 100px;
}
.btn-link {
  width: 100px;
  background: #98c2c0;
  color: #785b77;
  padding: 10px;
}
.btn-delete {
  background: red;
  color: white;
  padding: 1%;
  border: none;
}
.about-p {
  color: #785b77;
}
.about-container {
  padding: 4%;
}
/* nav bar continued */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content:hover {
  display: block;
}
